services:
  web:
    container_name: one-global-assessment
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:/app/dev.db
    volumes:
      - ./dev.db:/app/dev.db
    restart: unless-stopped

